@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";


body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

/* Theme variables */
@theme{
  --color-primaryBlue-300: #4759B9; 
}

.dashboardNav.active{
  background-color: #4759B9 ;
  color:white
}

.bgImgForReportModal{
  background: url('./assets/reportModalHeaderImg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}